li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #282c34;
    color: #61dafb;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li:hover {
    background: #61dafb;
    color: #000;
}

li.checked {
    color: #64686a;
    text-decoration: line-through;
}

li.checked:hover {
    background: #61dafb;
    color: #000;
}

li.checked::before {
    content: '';
    position: absolute;
    border-color: #64686a;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

li.checked:hover:before {
    border-color: #000;
    border-style: solid;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}
