li {
    display: flex;
    cursor: pointer;
    position: relative;
    background: #282c34;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.label {
    color: #61dafb;
    flex-grow: 1;
    padding: 12px 0px 12px 40px;
}

li.checked > span.label {
    color: #64686a;
    text-decoration: line-through;
}

li.checked::before {
    content: '';
    position: absolute;
    border-color: #64686a;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

li.checked > span.close {
    color: #64686a;
}

.close {
    flex-grow: 0;
    right: 0;
    top: 0;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    color: #61dafb;
}

li > span.close:hover,
li.checked > span.close:hover {
    background-color: #f44336;
    color: white;
}
